.navigationContainer {
  position: fixed;
  padding: 4rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;
}

.navigationList {
  list-style: none;
  z-index: 9999;

  font-size: 1.8rem;

  opacity: 0;
}

.navigationList li {
  display: none;
  height: 4rem;
}

.navIcon {
  cursor: pointer;
  position: fixed;

  top: 2rem;
  right: 2rem;
  background-color: white;
  border: 2px solid white;
  box-shadow: 0 0 0 1rem white;
  border-radius: 100%;
  transition:
    box-shadow 0.4s,
    border-radius 0.3s;
}

.navOpen {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  height: 100%;
}
.navOpen .navIcon {
  display: flex;
  box-shadow: 0 0 0 1000px white;
  border-radius: 0;
}

.navOpen .navigationList {
  display: block;
  opacity: 1;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}
.navOpen .navigationList li {
  display: block;
}

@media (min-width: 1000px) {
  .navigationContainer {
    position: fixed;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.2);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 0.5s;
  }
  .navigationList {
    display: block;
    opacity: 1;
  }
  .navigationList li {
    display: inline-block;
    margin-inline: 1rem;
    height: auto;
  }
  .navIcon {
    display: none;
  }
  .navOpen {
    height: auto;
  }
}
