:root {
  --max-width: 1100px;

  --adapt-pd-s: clamp(0rem, calc(-3rem + 10vw), 10rem);
  --adapt-pd-l: clamp(0rem, calc(-4rem + 20vw), 10rem);

  background: rgba(0, 0, 0, 0.25);
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
}

body {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  height: 100vh;
  height: 100dvh;

  scroll-snap-type: y proximity;

  user-select: none;

  font-family: var(--font-inter);
}

@media screen and (min-width: 1000px) {
  body {
    scroll-snap-type: y mandatory;
  }
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}
header {
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;
  height: 100dvh;

  padding-inline: var(--adapt-pd-l);
}

main {
  margin: 0 auto;
  padding-inline: 2rem;
  max-width: var(--max-width);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

section {
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 6rem;

  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  opacity: 0;

  padding-inline: var(--adapt-pd-s);
}

.observed {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 0.2s;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1em;
}
h2 {
  font-weight: 700;
  font-size: 2.6rem;
}
h3 {
  font-family: var(--font-lora);
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 620;
}
h4 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  font-weight: 420;
}
h5 {
  font-family: var(--font-lora);
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.4rem;
  font-weight: 420;
}
h6 {
  font-family: var(--font-lora);
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 320;
  line-height: 1.5em;
}

p {
  line-height: 1.5em;
}

@media screen and (min-width: 1000px) {
  header {
    padding-inline: 0;
  }
  section {
    padding-inline: 0;
  }
}

/* ------------------------------ LANDING ------------------------------ */

.title--grid {
  display: grid;
  place-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.title--grid :nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.title--grid :nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.title--grid :nth-child(3) {
  grid-column: 1/4;
  grid-row: 3/4;
}

.title--quote {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 2rem;
  padding: 1rem 1rem 1rem 2rem;
  border: 2px dashed black;
  border-radius: 0 2rem 0 2rem;
  background: rgba(0, 0, 0, 0.05);
}

@media (min-width: 1000px) {
  .title--grid {
    display: grid;
    place-items: flex-start;
    grid-template-columns: repeat(9, 1fr);
    padding-inline: 0;
  }
  .title--grid > :nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .title--grid > :nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .title--grid > :nth-child(3) {
    grid-column: 4/10;
    grid-row: 1/3;
  }
  .title--quote {
    margin: 0;
    padding: 2rem 2rem 2rem 3rem;
  }
}

/* ------------------------------ ABOUT ------------------------------ */

.about--grid {
  display: grid;
  place-items: flex-start;
  gap: 2rem;
}

.photo {
  width: min(100%, 480px);
  height: auto;
  margin-inline: auto;
  object-fit: cover;
  object-position: 66%;
  aspect-ratio: 1;
  border-radius: 100%;
}

@media (min-width: 820px) {
  .about--grid {
    justify-items: flex-start;

    grid-template-columns: repeat(9, 1fr);
    column-gap: 3rem;
  }
  .about--grid :nth-child(1) {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .about--grid :nth-child(2) {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    grid-column: 6/10;
    grid-row: 1/3;
  }

  .about--grid :nth-child(3) {
    margin-top: auto;
    grid-column: 1/6;
    grid-row: 2/3;
  }
}

/* ------------------------------ SKILLS ------------------------------ */

.skills--container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.skills--container h2 {
  margin-top: -0.5rem;
}
.skills--grid {
  width: 100%;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.skills--grid ul {
  position: relative;
  list-style: none;
  padding-left: 1rem;
}
.skills--grid ul :before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  height: 90%;
  border-left: 0.1rem solid rgb(156, 156, 156);
}
.skills--grid ul li {
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .skills--container {
    padding-top: 10rem;
  }
  .skills--grid {
    width: 100%;
    column-gap: 2rem;
    align-items: flex-start;

    grid-template-columns: repeat(auto-fill, 12%);
  }

  .skills--grid :nth-child(even) {
    grid-column: 2/5;
    text-align: right;
  }
  .skills--grid :nth-child(odd) {
    grid-column: 5/7;
  }
  .skills--grid :first-child {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .skills--grid h3 {
    margin-top: -0.24rem;
  }
  .skills--grid ul :before {
    content: " ";
    position: absolute;

    top: 0.2rem;
  }
  .skills--grid ul > li {
    display: inline;
    padding-top: 0.125rem;
    margin: 0;
  }
  .skills--grid ul > li::after {
    content: ", ";
  }

  .skills--grid ul > li:last-child::after {
    content: ".";
  }
}
/* ------------------------------ PROJECTS ------------------------------ */
